[submodule "Application/Website"]
path = Application/Website
url = ssh://git@github.com/AstroStarter/PAC-STAC-Website.git

[submodule "Application/Content"]
path = Application/Content
url = ssh://git@github.com/AstroStarter/PAC-STAC-Content.git
